<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Рецепты</h2>
  <div class="flex mb-4 space-x-2">
    <input type="text" [(ngModel)]="searchQuery" (input)="searchPosts()" placeholder="Поиск по заголовку..." 
           class="p-2 border border-gray-300 rounded-md shadow-sm flex-grow focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200">
    <select [(ngModel)]="selectedCategoryId" (ngModelChange)="filterByCategory($event)" 
            class="p-2 border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200">
      <option value="">Все категории</option>
      <option *ngFor="let category of categories" [value]="category.catId">{{ category.name }}</option>
    </select>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let post of posts" class="border rounded-lg p-4 bg-white shadow-md hover:shadow-lg transition duration-200">
      <img *ngIf="post.photo" [src]="post.photo" alt="{{ post.title }}" class="w-full h-48 object-cover mb-2 rounded-md">
      <h3 class="text-lg font-bold text-gray-800">{{ post.title }}</h3>
      <p class="text-gray-600">{{ post.anons }}</p>
      <p class="text-sm text-gray-500 mt-2">Создано пользователем: {{ post.author.username }}</p>
      <div class="mt-4 flex space-x-3">
        <a [routerLink]="['/posts', post.idPost]" 
           class="bg-gradient-to-r from-blue-500 to-teal-500 hover:from-blue-600 hover:to-teal-600 text-white px-4 py-2 rounded-md font-medium transition duration-200 transform hover:scale-[1.02] shadow-md hover:shadow-lg">
          Прочитать
        </a>
        <a *ngIf="authService.isLoggedIn() && post.author.username === authService.getToken()" 
           [routerLink]="['/posts/edit', post.idPost]" 
           class="border border-blue-500 text-blue-500 hover:bg-blue-50 px-4 py-2 rounded-md font-medium transition duration-200">
          Редактировать
        </a>
        <button *ngIf="authService.isLoggedIn() && post.author.username === authService.getToken()" 
                (click)="deletePost(post.idPost!)" 
                class="border border-red-500 text-red-500 hover:bg-red-50 px-4 py-2 rounded-md font-medium transition duration-200">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>